<a href="https://colab.research.google.com/github/jhanvipankhania/testing/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/My Drive/Vancouver_Restaurants_updated.csv')

In [4]:
df.head(5)

   City_Name  ...       Contact_No
0  Vancouver  ...  +1 604-695-1115
1  Vancouver  ...  +1 604-566-9053
2  Vancouver  ...  +1 604-602-0835
3  Vancouver  ...  +1 604-568-8971
4  Vancouver  ...  +1 604-688-8078

[5 rows x 21 columns]

In [ ]:
df.tail(2)

In [6]:
df.isnull().sum()

City_Name                0
Establishment_Type       0
Name                     1
Rating                 407
No_of_Reviews          407
Other_Ratings            0
Timings               1765
Latitude                 8
Longitude                8
Tags                     0
Description           2952
Price Range           3009
Special Diets         2822
Meals                 1458
Cuisines               712
Features              1861
Website                659
Rank                   414
Range_n_Cuisine          0
Address                  0
Contact_No               0
dtype: int64

In [7]:
df.shape

(3766, 21)

##Removing rows where Name column is null

In [12]:
df.dropna(axis = 0, how = 'any', subset = ['Name'] , inplace=True)
#df.columns

In [11]:
df.shape

(3765, 21)

## Ratings Column Handling

In [13]:
df['Rating'].isnull().sum()

407

### We have multiple options to deal with the missing values


*   filling with values like mean, mode or median
*   forward flling method if data is in particular order
*   Or filling with zero like the case is here when it comes to rating

In [14]:
df['Rating'].fillna(value = 0, inplace=True)

In [15]:
df['Rating'].isnull().sum()

0

In [16]:
df['No_of_Reviews'].isnull().sum()
#df.columns
type(df['No_of_Reviews'])

pandas.core.series.Series

In [17]:
df['No_of_Reviews'].fillna(value = 0, inplace=True)

In [18]:
df['No_of_Reviews'].isnull().sum()

0

In [22]:
df['Latitude'].fillna(value = 0, inplace=True)

In [23]:
df['Latitude'].isnull().sum()

0

In [24]:
df['Longitude'].fillna(value = 0, inplace=True)

In [25]:
df['Longitude'].isnull().sum()

0

In [19]:
df['Timings'].isnull()

0        True
1       False
2       False
3       False
4       False
        ...
3761    False
3762    False
3763     True
3764    False
3765    False
Name: Timings, Length: 3765, dtype: bool

In [20]:
type(df['Timings'])

pandas.core.series.Series

In [39]:
import re
for index, value in df['Timings'].items():
  res = re.findall('days', value)
  if res:
  else:  
#{'Food': 4.5, 'Service': 4.5, 'Value': 4.5, 'Atmosphere': 4.5}

TypeError: ignored

### Splitting the 'Other_Ratings' Column into DaysOpen and OpenTime columns